<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WhatYouSay-LevelA-Render</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/forms.css">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div id="page-wrapper">
  <!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<header id="header">
									<h1><a href="index.html" id="logo">WhatYouSay</a></h1>
									<nav id="nav">
										<a href="{{ url_for('index') }}">Homepage</a>
                                        <a href="#">Method</a>
                                        <a href="#">Publication</a>
                                        <a href="#">Privacy</a>
                                        <a href="#">HowYouConnect</a>

									</nav>
								</header>

							</div>
						</div>
					</div>
				</div>

        <!-- Main -->

  <div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-12">
                
              
                                



            <section>                   
                <h2>Level A analysis</h2>
                

                  <a class="button" href="{{ url_for('level_a') }}">Oh, please continue to Level A....</a>

                <p>
                  <a href="/WhatYouSay/">Cancel and return</a>
                </p>

            </section>

						</div>
					</div>
    </div>
  </div>

  <script>
          const ctx = document.getElementById('speakerChart').getContext('2d');

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: {{ speaker_data.chart_labels | tojson }},
              datasets: [{
                label: 'Messages',
                data: {{ speaker_data.chart_values | tojson }},
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderRadius: 6
              }]
            },
            options: {
              plugins: {
                legend: { display: false }
              },
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>
  
			<!-- Footer -->
				<div id="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">

								<section>
									<h2>How about a truckload of links?</h2>
									<div>
										<div class="row">
											<div class="col-3 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="#">Sed neque nisi consequat</a></li>
													<li><a href="#">Dapibus sed mattis blandit</a></li>
													<li><a href="#">Quis accumsan lorem</a></li>
													<li><a href="#">Suspendisse varius ipsum</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
												</ul>
											</div>
											<div class="col-3 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="#">Quis accumsan lorem</a></li>
													<li><a href="#">Sed neque nisi consequat</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
													<li><a href="#">Dapibus sed mattis blandit</a></li>
													<li><a href="#">Vitae magna sed dolore</a></li>
												</ul>
											</div>
											<div class="col-3 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="#">Sed neque nisi consequat</a></li>
													<li><a href="#">Dapibus sed mattis blandit</a></li>
													<li><a href="#">Quis accumsan lorem</a></li>
													<li><a href="#">Suspendisse varius ipsum</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
												</ul>
											</div>
											<div class="col-3 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="#">Quis accumsan lorem</a></li>
													<li><a href="#">Sed neque nisi consequat</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
													<li><a href="#">Dapibus sed mattis blandit</a></li>
													<li><a href="#">Vitae magna sed dolore</a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>
							<div class="col-4 col-12-medium">

								<section>
									<h2>Something of interest</h2>
									<p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
									Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
									mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
									lorem ipsum dolor sit blandit.</p>
									<footer class="controls">
										<a href="#" class="button">Oh, please continue ....</a>
									</footer>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="col-12">

								<div id="copyright">
									&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
								</div>

							</div>
						</div>
					</div>
				</div>



<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/browser.min.js"></script>
            <script src="/static/js/breakpoints.min.js"></script>
            <script src="/static/js/util.js"></script>
            <script src="{{ url_for('static', filename='js//main.js') }}"></script>
</body>
</html>
